// Use colors
@import "./sass/variables/colors";
// Use transitions
@import "./sass/variables/transitions";
// Use _size
@import "./sass/variables/_size";
// Use Mixins
@import "./sass/helpers/mixins";
// Use helper sClasses
@import "./sass/components/helpersClasses";
// Use dropdowns & Buttons
@import "./sass/components/dropdowns&Buttons";
// Use badges
@import "./sass/components/badges";
// Use headings
@import "./sass/components/headings";
// Use boxes
@import "./sass/components/boxes";
// Use forms
@import "./sass/components/forms";
// Use Global Page
@import "./sass/pages/globalPage";
// Use Login Page
@import "./sass/pages/login";
// Use Header
@import "./sass/layouts/header";
// Use Page
@import "./sass/pages/main";
// Use Footer
@import "./sass/layouts/footer";
