.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.form-group {
  margin: 20px 0 !important;
}

.row-gap-24 {
  row-gap: 24px;
}

.min-height {
  min-height: 100vh;
}

.text-light-green {
  color: #0abab5;
}

.text-light-red {
  color: rgba(254, 17, 17, 0.98);
}

.text-red {
  color: #DA2D2D !important;
}

.bg-red {
  background-color: #DA2D2D !important;
}

.fs-12 {
  font-size: 12px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.main-section {
  padding: 1rem 0;
}

.padding-footer-menu {
  padding-bottom: calc(53px + 1rem);
}

.btn-back {
  display: block;
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.5px;
}
.btn-back .icon {
  width: 16px;
  height: auto;
}

.main-btn {
  color: white !important;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.193px;
  width: 100%;
  display: flex;
  padding: 7px 1rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #0abab5;
}

.link-account {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-top: 27px;
  letter-spacing: 0.193px;
}
.link-account a {
  color: black;
}

.reset-link {
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
}

.main-badge {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border: 1px solid #F3F3F3;
  background: #ED3A3A;
  color: #F3F3F3;
  font-size: 12px;
  font-weight: 600;
  line-height: 10px;
}
.main-badge.badge-float {
  position: absolute;
  right: -8px;
  top: -8px;
}

.mian-label {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: normal;
}
.mian-label .small {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.main-title {
  color: black;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 21px;
}

.main-text {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.landing-slider {
  margin-bottom: 21px;
}
.landing-slider .swiper-wrapper {
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.landing-slider .swiper-wrapper .swiper-slide a {
  display: block;
}
.landing-slider .swiper-wrapper .swiper-slide a .img {
  width: 100%;
  height: auto;
}

.dep-slider {
  margin-bottom: 21px;
}
.dep-slider .swiper-wrapper {
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.dep-slider .swiper-wrapper .swiper-slide {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.dep-slider .swiper-wrapper .swiper-slide a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  padding: 1px 10px;
  border-radius: 4px;
  border: 0.5px solid #0abab5;
  color: #0abab5;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}
.dep-slider .swiper-wrapper .swiper-slide a.active {
  background-color: #0abab5;
  color: white;
}

.header-section {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  justify-content: space-between;
}
.header-section .title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.header-section .a-icon {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-section .a-icon .icon {
  width: 24px;
  height: auto;
}
.header-section .link {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.data-user {
  display: flex;
  align-items: center;
  margin: 35px 0 25px 0;
  gap: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex-direction: column;
}
.data-user .img-user {
  position: relative;
}
.data-user .img-user .edit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #0abab5;
  width: 31px;
  height: 31px;
  position: absolute;
  bottom: -9px;
  right: 0;
}
.data-user .img-user .edit .icon {
  width: 19px;
  height: auto;
}
.data-user .img-user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.data-user .name {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.5px;
  text-decoration: underline;
}

.menu-settings {
  display: grid;
  gap: 11px;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
}
.menu-settings .item-menu {
  display: flex;
  padding: 10px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
}
.menu-settings .item-menu .icon {
  width: 24px;
  height: auto;
}
.menu-settings .item-menu .text {
  color: black;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.menu-settings .item-menu .arrow {
  width: 16px;
  height: auto;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu-list .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.box-notifications {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box-notifications .item {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f2f4f7;
  display: flex;
  gap: 12px;
}
.box-notifications .item .icon {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #F3F4F5;
}
.box-notifications .item .icon img {
  width: 20px;
  height: auto;
}
.box-notifications .item .text {
  flex: 1;
}
.box-notifications .item .text .dec {
  color: #1D3145;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: normal;
}
.box-notifications .item .text .date {
  color: #9E9E9E;
  font-size: 12px;
  display: block;
  text-align: end;
  font-weight: 400;
  line-height: 20px;
}

.boxes-ask {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.boxes-ask .box .title {
  margin: 0;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}
.boxes-ask .box .text {
  margin: 0;
  color: #1D3145;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}

.box-offer {
  border-radius: 6px;
  border: 1px solid rgba(110, 110, 110, 0.3215686275);
  position: relative;
  height: 100%;
  background: #fff;
  padding: 7px 9px;
}
.box-offer .favorite {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 7px;
  right: 9px;
  outline: 0;
}
.box-offer .favorite .icon {
  width: 24px;
  height: auto;
}
.box-offer .badge-offer {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 7px;
  left: 9px;
  outline: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #0abab5;
  color: white;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.5px;
}
.box-offer .bg-offer {
  width: 100%;
  height: auto;
  margin-bottom: 9px;
}
.box-offer .name {
  color: #000;
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: 600;
  line-height: 18px; /* 150% */
  letter-spacing: -0.5px;
}
.box-offer .show {
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}
.box-offer .show .icon {
  width: 12px;
  height: auto;
}
.box-offer .price {
  color: #0abab5;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: -0.5px;
}

.box-inp {
  border-radius: 6px;
  border: 0.3px solid rgba(88, 88, 88, 0.5411764706);
  display: flex;
  align-items: stretch;
  position: relative;
}
.box-inp .inp {
  direction: rtl !important;
  border-radius: 6px;
  flex: 1;
  color: rgba(0, 0, 0, 0.6);
  line-height: normal;
  display: block;
  font-size: 14px;
  border: 0;
  font-weight: 400;
  padding: 11px 12px;
}
.box-inp .inp::-moz-placeholder {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}
.box-inp .inp::placeholder {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}
.box-inp select.inp {
  padding-left: 32px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.box-inp textarea.inp {
  height: 120px;
}
.box-inp .show-pass {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin-left: 12px;
}
.box-inp .show-pass img {
  width: 20px;
  height: auto;
}
.box-inp .dropdown {
  display: flex;
  align-items: center;
  margin-left: 12px;
  border-right: 1px solid rgba(88, 88, 88, 0.5411764706);
}
.box-inp .dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
}
.box-inp .dropdown .dropdown-toggle .img {
  width: 36px;
  height: auto;
}
.box-inp .dropdown .dropdown-toggle .arrow-drop {
  margin: 0 5px;
  width: 12px;
  height: auto;
}
.box-inp .dropdown .dropdown-toggle::after {
  display: none;
}
.box-inp .dropdown .dropdown-menu {
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
}
.box-inp .dropdown .dropdown-menu .dropdown-item .img {
  width: 50px;
  display: block;
  margin: 0 auto;
  height: auto;
}
.box-inp .arrow {
  position: absolute;
  left: 12px;
  top: 50%;
  width: 20px;
  height: auto;
  transform: translateY(-50%);
}

.box-search {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 19px;
  padding-right: 11px;
  border-radius: 28px;
  background-color: #f8f8f8;
  width: 100%;
}
.box-search img.img {
  width: 24px;
  height: auto;
}
.box-search input {
  padding: 11px 0 11px 11px;
  background-color: transparent;
  border: 0;
  flex: 1;
  color: #adadad;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}

.check-box {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.main-check {
  accent-color: #00a39e;
  width: 14px;
  height: 14px;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: black;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

button {
  border: none;
  outline: none;
}

.btn-warning,
.btn-info {
  color: white;
}
.btn-warning:hover,
.btn-info:hover {
  color: white;
}
.btn-warning:focus,
.btn-info:focus {
  color: white;
}

input:focus,
select:focus {
  outline: none;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

.container-md {
  padding: 0 16px !important;
}

.modal-header .modal-title {
  font-size: 15px !important;
}
.modal-header .btn-close {
  margin: unset !important;
}

.page-auth .box-text {
  text-align: center;
}
.page-auth .box-text .title {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.41px;
}
.page-auth .box-text .text {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.41px;
}
.page-auth .img-bg {
  width: 196px;
  height: auto;
  margin: 10px auto 33px;
  display: block;
  max-width: 100%;
}
.page-auth .main-btn {
  margin: 30px 0 26px;
  font-size: 20px;
  padding: 5px 1rem;
}
.page-auth .btns-type {
  margin-top: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.page-auth .btns-type .btn-type {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 257px;
  border-radius: 6px;
  border: 1px solid #0abab5;
  color: #0abab5;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.193px;
}
.page-auth .btns-type .btn-type .icon {
  width: 32px;
  height: auto;
}
.page-auth.section-login .main-btn {
  margin-top: 49px;
}

.main-header {
  z-index: 999;
  background-color: white;
  padding: 14px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 58px;
}
.main-header .container-md {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .container-md .btn-header {
  display: block;
}
.main-header .container-md .btn-header .img {
  width: 24px;
  height: auto;
}
.main-header .container-md .title {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.main-header + section, .main-header + div {
  padding-top: 65px !important;
}

.page-splashScreen {
  background-color: white;
  min-height: 100vh;
}
.page-splashScreen.splashScreen-1 {
  padding-top: calc(34px + 1rem) !important;
}
.page-splashScreen .logo-img {
  width: 175px;
  max-width: 100%;
}
.page-splashScreen .img-bg {
  width: 100%;
  margin-top: 10px;
  max-width: 322px;
  height: auto;
  border-radius: 4px;
}
.page-splashScreen .steps {
  display: flex;
  align-items: center;
  margin: 26px 0;
  justify-content: center;
  gap: 8px;
}
.page-splashScreen .steps .step {
  width: 8px;
  height: 8px;
  background-color: rgba(10, 186, 181, 0.5);
  border-radius: 50%;
}
.page-splashScreen .steps .step.active {
  background-color: #0abab5;
  width: 10px;
  height: 10px;
}
.page-splashScreen .box-text {
  text-align: center;
  max-width: 308px;
  margin: 0 auto 40px;
}
.page-splashScreen .box-text .title {
  color: #000;
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 600;
}
.page-splashScreen .box-text .text {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  color: #8f8f8f;
}
.page-splashScreen .btn-arr {
  background-color: transparent;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 10px;
  display: block;
}
.page-splashScreen .btn-arr img {
  width: 48px;
  height: auto;
}
.page-splashScreen .skip {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.41px;
  text-decoration-line: underline;
}
.page-splashScreen .main-btn {
  font-size: 20px;
  padding: 5px 1rem;
}
.page-splashScreen.welcome .logo-img {
  margin-top: 58px;
  margin-bottom: 56px;
}
.page-splashScreen.welcome .box-text {
  max-width: 308px;
  margin: 0 auto 57px;
}
.page-splashScreen.welcome .box-text .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0.41px;
  margin-bottom: 0;
}
.page-splashScreen.welcome .box-text .text {
  letter-spacing: -0.5px;
  color: #8f8f8f;
}

.page-myData .data-user {
  margin-bottom: 67px;
  padding-bottom: 0;
  border-bottom: 0;
}

.page-profile .data-user {
  margin-bottom: 23px;
  padding-bottom: 0;
  border-bottom: 0;
}
.page-profile .box-text {
  margin-bottom: 24px;
}
.page-profile .box-text .title {
  color: black;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
.page-profile .box-text .text {
  color: #949494;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.page-resetPass .main-btn {
  margin-top: 125px;
}
.page-resetPass .bg-img {
  width: 136px;
  height: auto;
  margin: 68px auto 103px;
  display: block;
}
.page-resetPass .box-text .title {
  color: #8f8f8f;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.page-resetPass .box-text .text {
  color: #8f8f8f;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  max-width: 288px;
  font-weight: 500;
  line-height: normal;
}
.page-resetPass .link-skip {
  color: #8f8f8f;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.page-resetPass .text-small {
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 40px;
}
.page-resetPass .link-reset {
  color: #0abab5;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
  margin: 20px 0 30px;
  display: block;
}

.page-editPass .main-text {
  margin-bottom: 32px;
}
.page-editPass .main-btn {
  margin-top: 82px;
}

.page-notifications .notNotifications {
  height: calc(100vh - 33px - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 46px;
}
.page-notifications .notNotifications .bg-img {
  height: auto;
  width: 119px;
}
.page-notifications .notNotifications .text {
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.menu-footer {
  border-radius: 12px 12px 0px 0px;
  height: 53px;
  z-index: 999;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background: #FCFCFC;
}
.menu-footer .container-md {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-footer .container-md .item {
  padding: 18px 17px 11px;
  position: relative;
}
.menu-footer .container-md .item::before {
  content: "";
  width: 100%;
  border-radius: 1px;
  left: 0;
  top: 0;
  height: 3px;
  position: absolute;
  display: block;
  background-color: #0abab5;
  transition: 300ms;
  opacity: 0;
}
.menu-footer .container-md .item .icon {
  width: 24px;
  height: auto;
}
.menu-footer .container-md .item .main-badge {
  background-color: #F75555 !important;
}
.menu-footer .container-md .item.active::before {
  opacity: 1;
}
.menu-footer .container-md .item.active .icon {
  filter: invert(0.5) sepia(1) saturate(3) hue-rotate(131deg);
}/*# sourceMappingURL=main.css.map */