.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.form-group {
  margin: 20px 0 !important;
}

.row-gap-24 {
  row-gap: 24px;
}

.min-height {
  min-height: 100vh;
}

.text-light-green {
  color: #0ABAB5;
}

.text-red {
  color: rgba(254, 17, 17, 0.98);
}

.fs-12 {
  font-size: 12px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.btn-back {
  display: block;
  margin-bottom: 19px;
  width: 16px;
  height: auto;
}

.main-btn {
  color: white !important;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.193px;
  width: 100%;
  display: flex;
  padding: 7px 1rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #0ABAB5;
}

.link-account {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-top: 27px;
  letter-spacing: 0.193px;
}
.link-account a {
  color: black;
}

.reset-link {
  color: #8F8F8F;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
}

.mian-label {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: normal;
}

.box-inp {
  border-radius: 6px;
  border: 0.3px solid rgba(88, 88, 88, 0.5411764706);
  display: flex;
  align-items: stretch;
}
.box-inp .inp {
  direction: rtl !important;
  border-radius: 6px;
  flex: 1;
  color: black;
  line-height: normal;
  display: block;
  font-size: 14px;
  border: 0;
  font-weight: 400;
  padding: 11px 12px;
}
.box-inp .inp::-moz-placeholder {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}
.box-inp .inp::placeholder {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}
.box-inp .show-pass {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin-left: 12px;
}
.box-inp .show-pass img {
  width: 20px;
  height: auto;
}
.box-inp .dropdown {
  display: flex;
  align-items: center;
  margin-left: 12px;
  border-right: 1px solid rgba(88, 88, 88, 0.5411764706);
}
.box-inp .dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
}
.box-inp .dropdown .dropdown-toggle .img {
  width: 36px;
  height: auto;
}
.box-inp .dropdown .dropdown-toggle .arrow {
  margin: 0 5px;
  width: 12px;
  height: auto;
}
.box-inp .dropdown .dropdown-toggle::after {
  display: none;
}
.box-inp .dropdown .dropdown-menu {
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
}
.box-inp .dropdown .dropdown-menu .dropdown-item .img {
  width: 50px;
  display: block;
  margin: 0 auto;
  height: auto;
}

.check-box {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.main-check {
  accent-color: #00a39e;
  width: 14px;
  height: 14px;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: #8F8F8F;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

button {
  border: none;
  outline: none;
}

.btn-warning,
.btn-info {
  color: white;
}
.btn-warning:hover,
.btn-info:hover {
  color: white;
}
.btn-warning:focus,
.btn-info:focus {
  color: white;
}

input:focus,
select:focus {
  outline: none;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

.modal-header .modal-title {
  font-size: 15px !important;
}
.modal-header .btn-close {
  margin: unset !important;
}

.page-auth .box-text {
  text-align: center;
}
.page-auth .box-text .title {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.41px;
}
.page-auth .box-text .text {
  color: #8F8F8F;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.41px;
}
.page-auth .img-bg {
  width: 196px;
  height: auto;
  margin: 10px auto 33px;
  display: block;
  max-width: 100%;
}
.page-auth .main-btn {
  margin: 30px 0 26px;
  font-size: 20px;
  padding: 5px 1rem;
}
.page-auth.section-login .main-btn {
  margin-top: 49px;
}

.page-splashScreen {
  background-color: white;
  min-height: 100vh;
}
.page-splashScreen.splashScreen-1 {
  padding-top: calc(34px + 1rem) !important;
}
.page-splashScreen .logo-img {
  width: 175px;
  max-width: 100%;
}
.page-splashScreen .img-bg {
  width: 100%;
  margin-top: 10px;
  max-width: 322px;
  height: auto;
  border-radius: 4px;
}
.page-splashScreen .steps {
  display: flex;
  align-items: center;
  margin: 26px 0;
  justify-content: center;
  gap: 8px;
}
.page-splashScreen .steps .step {
  width: 8px;
  height: 8px;
  background-color: rgba(10, 186, 181, 0.5);
  border-radius: 50%;
}
.page-splashScreen .steps .step.active {
  background-color: #0ABAB5;
  width: 10px;
  height: 10px;
}
.page-splashScreen .box-text {
  text-align: center;
  max-width: 308px;
  margin: 0 auto 40px;
}
.page-splashScreen .box-text .title {
  color: #000;
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 600;
}
.page-splashScreen .box-text .text {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  color: #8F8F8F;
}
.page-splashScreen .btn-arr {
  background-color: transparent;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 10px;
  display: block;
}
.page-splashScreen .btn-arr img {
  width: 48px;
  height: auto;
}
.page-splashScreen .skip {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.41px;
  text-decoration-line: underline;
}
.page-splashScreen .main-btn {
  font-size: 20px;
  padding: 5px 1rem;
}
.page-splashScreen.welcome .logo-img {
  margin-top: 58px;
  margin-bottom: 56px;
}
.page-splashScreen.welcome .box-text {
  max-width: 308px;
  margin: 0 auto 57px;
}
.page-splashScreen.welcome .box-text .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0.41px;
  margin-bottom: 0;
}
.page-splashScreen.welcome .box-text .text {
  letter-spacing: -0.5px;
  color: #8F8F8F;
}/*# sourceMappingURL=main.css.map */