// landing-swiper
.landing-slider {
    margin-bottom: 21px;
    .swiper-wrapper {
        height: fit-content !important;
        .swiper-slide {
            a {
                display: block;
                .img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

// landing-swiper
.dep-slider {
    margin-bottom: 21px;
    .swiper-wrapper {
        height: fit-content !important;
        .swiper-slide {
            width: fit-content !important;
            a {
                display: block;
                width: fit-content;
                display: flex;
                padding: 1px 10px;
                border-radius: 4px;
                border: 0.5px solid $light-green;
                color: $light-green;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.5px;
                &.active {
                    background-color: $light-green;
                    color: white;
                }
            }
        }
    }
}

// header-section
.header-section {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    justify-content: space-between;
    .title {
        color: $dark-title;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
    }
    .a-icon {
        color: $dark-title;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 12px;
        .icon {
            width: 24px;
            height: auto;
        }
    }
    .link {
        color: $dark-title;
font-size: 14px;
font-weight: 400;
line-height: normal;
    }
}

// data-user
.data-user {
    display: flex;
    align-items: center;
    margin: 35px 0 25px 0;
    gap: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex-direction: column;
    .img-user {
        position: relative;
        .edit {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 2px solid #fff;
            background: $light-green;
            width: 31px;
            height: 31px;
            position: absolute;
            bottom: -9px;
            right: 0;
            .icon {
                width: 19px;
                height: auto;
            }
        }
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .name {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.5px;
        text-decoration: underline;
    }
}

// menu-settings
.menu-settings {
    display: grid;
    gap: 11px;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    .item-menu {
        display: flex;
        padding: 10px 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 4px;
        border: 1px solid #e3e3e3;
        .icon {
            width: 24px;
            height: auto;
        }
        .text {
            color: $black;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.5px;
        }
        .arrow {
            width: 16px;
            height: auto;
        }
    }
}
// menu-list
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $black;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        padding-bottom: 17px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    }
}

// box-notifications
.box-notifications {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .item {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #f2f4f7;
        display: flex;
        gap: 12px;
        .icon {
            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background: $neutral-100;
            img {
                width: 20px;
                height: auto;
            }
        }
        .text {
            flex: 1;
            .dec {
                color: $dark-text;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 0;
                line-height: normal;
            }
            .date {
                color: $grayscale-500;
                font-size: 12px;
                display: block;
                text-align: end;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
}

// box-ask
.boxes-ask {
    display: flex;
    flex-direction: column;
    gap: 27px;
    .box {
        .title {
            margin: 0;
            color: $black;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.5px;
        }
        .text {
            margin: 0;
            color: $dark-text;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.5px;
        }
    }
}
