// btn-back
.btn-back {
 display: block;
 margin-bottom: 29px;
 width: 16px;
 height: auto;
}

// main-btn
.main-btn {
 color: $white-color;
font-size: 20px;
font-weight: 600;
line-height: normal;
letter-spacing: 0.193px;
display: flex;
padding: 5px 1rem;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
background: $light-green;
}