// btn-back
.btn-back {
 display: block;
 margin-bottom: 19px;
 display: flex;
 align-items: center;
 gap: 1rem;
 color: $dark-title;
font-size: 18px;
font-weight: 600;
line-height: normal;
letter-spacing: -0.5px;
 .icon {
    width: 16px;
    height: auto;
 }
}

// main-btn
.main-btn {
 color: $white !important;
 font-size: 18px;
 font-weight: 600;
 line-height: normal;
 letter-spacing: 0.193px;
 width: 100%;
 display: flex;
padding: 7px 1rem;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
background: $light-green;
&.border-color {
    background: transparent;
    color: $light-green !important;
    border: 1px solid $light-green;
}
&.btn-float {
    position: fixed;
    left: 1rem;
    width: calc(100% - 2rem);
    bottom: 1rem;
}
img, .icon {
    width: 24px;
    height: auto;
}
}

// link-account
.link-account {
 color: rgba(0, 0, 0, 0.7);
 text-align: center;
 font-size: 16px;
 font-weight: 400;
 line-height: normal;
 margin-top: 27px;
 letter-spacing: 0.193px;
 a {
     color: $black;
 }
}

// reset-link
.reset-link {
 color: $light-text;
font-size: 12px;
font-weight: 500;
line-height: normal;
text-decoration:underline ;
}
.btn-notic {
    display: block;
    background-color: transparent;
    outline: 0;
    position: relative;
    img,.icon {
        width: 24px;
        height: auto;
    }
    .main-badge {
        right: -5px !important;
        top: -6px !important;
        background-color: #F75555;
    }
}