.main-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
}
#text-more {
  #text {
    display: inline-block;
  }
}
.text-head {
  color: $lg-dark;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.16px;
}

.page-header {
  @include flex-center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 23px;
  line-height: 42px;
  letter-spacing: 0.004em;
  color: $subtle-dark;
}

.part-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.16px;
  color: $lg-dark;
  margin-bottom: 0;
}
.welcome {
  color: $dark-color;
  font-size: 20px;
  font-weight: bold;
}

.intro-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #afb1b6;
}

.text-offer {
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #61646b;
}

.tax-text {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #afb1b6;
}
