.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}
.form-group {
  margin: 20px 0 !important;
}
.row-gap-24 {
  row-gap: 24px;
}
.min-height {
  min-height: 100vh;
}
.text-light-green {
  color: $light-green;
}
.text-red {
  color: $red;
}
.fs-12 {
  font-size: 12px;
}
.w-fit {
  width: fit-content;
}