.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}
.form-group {
  margin: 20px 0 !important;
}
.row-gap-24 {
  row-gap: 24px;
}
.min-height {
  min-height: 100vh;
}
.text-light-green {
  color: $light-green;
}
.text-light-red {
  color: $light-red;
}
.text-red {
  color: $red !important;
}
.bg-red {
  background-color: $red !important;
}
.fs-12 {
  font-size: 12px;
}
.w-fit {
  width: fit-content;
}
.main-section {
  padding: 1rem 0;
}
.padding-footer-menu {
  padding-bottom: calc(53px + 1rem);
}