.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}
.form-group {
  margin: 20px 0 !important;
}
.row-gap-24 {
  row-gap: 24px;
}
.min-height {
  min-height: 100vh;
}
.bg-grey {
  background-color: $bg-grey;
}
.text-subtle-dark {
  color: $subtle-dark;
}
.text-light-gray {
  color: $light-gray;
}
.text-dark-color {
  color: $dark-color;
}
.text-alt-color {
  color: $alt-color;
}
.text-gold-color {
  color: $gold-color;
}
.fs-12 {
  font-size: 12px;
}
.w-fit {
  width: fit-content;
}