$main-color: #3792e5;
$alt-color: #87BEEF;
$mainShadow-color: #afd3f5;
$redShadow-color: #F4B8B8;
$linear: linear-gradient(90deg, #61646b 0%, rgba(97, 100, 107, 0) 76.17%);
$linear-line1: linear-gradient(90deg, #AFB1B6 0%, rgba(175, 177, 182, 0) 100%);;
$linear-line1-rtl: linear-gradient(90deg, rgba(175, 177, 182, 0) 0%,  #AFB1B6  100%);;
$dark-color: #4F4F50;
$light-gray: #AFB1B6;
$lg-dark: #19191B;
$dangerStroke-color: #D56363;
$dangerFill-color: #FFDEDE;
$green-color: #34A853;
$lightCover-color: #F4F4F5;
$gold-color: #FBBC05;
$bg-grey:#FBFBFB;
$white-color: #fff;
$black-color: #000;
$gray-text: #6c6c6e;
$subtle-dark:#61646B;
$trouble-d: #ddd;
$trouble-3: #333;
$trouble-5: #555;
$trouble-7: #777;
$trouble-8: #888;
$trouble-9: #999;
$dark-title-color: #163A5C;
