// Layouts Color
$light-text: #8f8f8f;
$light-text-2: rgba(0, 0, 0, 0.4);
$dark-title: #000;
$border-color: #5858588a;
$alerts-status-error: #f75555;

// Global Color
$black: black;
$white: white;
$red: #DA2D2D;
$light-red: rgba(254, 17, 17, 0.98);
$light-green: #0abab5;
$light-green-2: rgba(10, 186, 181, 0.5);
