// Layouts Color
$light-text:#8F8F8F;
$light-text-2:rgba(0, 0, 0, 0.40);
$dark-title: #000;
$border-color: #5858588a;

// Global Color
$black:black;
$white:white;
$red:rgba(254, 17, 17, 0.98);
$light-green:#0ABAB5;
$light-green-2:rgba(10, 186, 181, 0.50);