* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: $black;
}
ul {
  @include reset-ul;
}
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}
// Reset Bootstrap Btn
.btn-warning,
.btn-info {
  color: $white;
  &:hover {
    color: $white;
  }
  &:focus {
    color: $white;
  }
}
// Reset Input
input:focus,
select:focus {
  outline: none;
}

input {
  &:focus::placeholder {
    opacity: 0;
    transition: $sm-transition;
  }
}

// heights-section
.section-height {
}

// Reset Modal
.modal-header {
  .modal-title {
    font-size: 15px !important;
  }
  .btn-close {
    margin: unset !important;
  }
}