* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  background-color: $bg-grey;
  color: $subtle-dark;
}
ul {
  @include reset-ul;
}
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}
// Reset Bootstrap Btn
.btn-warning,
.btn-info {
  color: $white-color;
  &:hover {
    color: $white-color;
  }
  &:focus {
    color: $white-color;
  }
}
// Reset Input
input:focus,
select:focus {
  outline: none;
}

input {
  &:focus::placeholder {
    opacity: 0;
    transition: $sm-transition;
  }
}

// heights-section
.section-height {
}

// Reset Modal
.modal-header {
  .modal-title {
    font-size: 15px !important;
  }
  .btn-close {
    margin: unset !important;
  }
}
/* start scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6f6;
  box-shadow: 0 0 2px #ddd inset;
}

::-webkit-scrollbar-thumb {
  // background-color: #ed7e74c9;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $main-color;
}
/* end scrollbar */
.landing-page {
  height: 100vh;
}

.rates {
  .rate {
    @include flex-center;
    justify-content: space-between;
    h2 {
      font-weight: 500;
      font-size: 14px;
      line-height: 27px;
      margin-bottom: 6px;
      letter-spacing: 0.12px;
      color: $subtle-dark;
    }
    .icon-holder {
      i,
      svg {
        color: $light-gray;
        font-size: 14.62px;
        &.active {
          color: $gold-color;
        }
      }
    }
    &.special {
      h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 34px;
        letter-spacing: 0.004em;
        margin-bottom: 16px;
        color: $lg-dark;
      }
      .icon-holder {
        i,
        svg {
          font-size: 17.87px;
        }
      }
    }
  }
}

.dec {
  position: fixed;
  z-index: -11;
  top: -32px;
  right: -10px;
}

.filter-eff {
  @include flex-center;
  width: 38px;
  height: 38px;
  background: $white-color;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}
