// Start page-profile
.page-profile {
  .info-user {
    margin-bottom: 32px;
.img {
  width: fit-content;
  position: relative;
  margin: 0 auto;
  margin-bottom: 4px;
  .img-user {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
  }
  .cr-active {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 4px;
    bottom: 4px;
    border-radius:50% ;
    /*Green*/background: #34A853;
    /*surface*/border: 2px solid #FBFBFB;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
}
    .name {
      color: black;
      font-size: 16px;
    }
    .info-data {
      font-size: 12px;
    }
  }
}
// End page-profile

// Start page-splashScreen
.page-splashScreen {
  background-color: white;
  min-height: 100vh;
 .logo-img {
  width: 134px;
  max-width: 100%;
  filter: drop-shadow(0px 5px 6px #3792e52b);
 }
 .img-bg {
  width: 100%;
  height: auto;
  margin-top: 193px;
  margin-bottom: 64px;
 }
 .box-text {
  margin-bottom:48px;
  .tilte {
   color: $dark-title-color;
   font-size: 28px;
   margin-bottom: 1rem;
  }
  .text {
   font-size: 14px;
   color: $subtle-dark;
line-height: 27px;
  }
 }
 .btn-arr {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 0;
  outline: 0;
  -ms-border-radius: 50%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  -o-border-radius: 50%;
  &.lvl-1 {
   background:conic-gradient($mainShadow-color calc(100% / 3), transparent 0) ;
  }
  &.lvl-2 {
   background:conic-gradient($mainShadow-color calc(100% / 3 * 2), transparent 0) ;
  }
  &.lvl-3 {
   background:conic-gradient($mainShadow-color calc(100% / 3 * 3), transparent 0) ;
  }
  img {
   border: 10px white solid;
   width: 75px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   height: 75px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   -webkit-transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   -o-transform: translate(-50%,-50%);
}
}
}
// end page-splashScreen