.landing-swiper {
  height: 100vh;
  .swiper-wrapper {
    .swiper-slide {
      height: 100%;
      .box-bg {
        height: 65%;
        background-color: $main-color;
      }
      .box-text {
        height: 35%;
        @include flex-center;
        flex-direction: column;
        text-align: center;
        h4 {
          font-weight: 400;
          font-size: 28px;
          line-height: 53.12px;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 26.56px;
          letter-spacing: 0.08px;
        }
      }
    }
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: #ebeaea !important;
  }
  .swiper-pagination-bullet-active {
    opacity: 1 !important;
    background-color: $main-color !important;
  }
}


.swiper-design {
  width: 100%;
  min-height: 206px;
  .swiper-wrapper {
    .swiper-slide {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}